In [2]:
import pandas as pd
import os

In [3]:
# os.chdir('D:\\Major_Project')

In [4]:
os.chdir('D:\MajorProject\Datasets_1')

In [5]:
os.getcwd()

'D:\\MajorProject\\Datasets_1'

In [6]:
import csv

In [7]:
df = pd.read_csv("D:\\MajorProject\\Datasets_1\\Reliance Industries Ltd.csv", sep = ",", low_memory = False)

In [8]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-01-01,715.715759,717.944580,702.119629,705.376221,630.190979,4864461.0
1,2008-01-02,707.047913,714.229797,696.225464,708.719543,633.178162,12588005.0
2,2008-01-03,706.304932,725.621826,700.918518,719.108582,642.459778,13939233.0
3,2008-01-04,719.182861,747.861023,719.182861,741.223938,662.217773,16366255.0
4,2008-01-07,736.716675,750.387085,733.051392,747.972473,668.247131,12650730.0
...,...,...,...,...,...,...,...
2952,2019-12-23,1545.450684,1562.736816,1543.172241,1556.644531,1535.783325,11587233.0
2953,2019-12-24,1554.168091,1557.288452,1528.015991,1531.928833,1511.398804,8329356.0
2954,2019-12-26,1527.173950,1538.367798,1495.969727,1501.170410,1481.052612,13734705.0
2955,2019-12-27,1512.661499,1531.681152,1507.015015,1527.867310,1507.391724,8158196.0
2956,2019-12-30,1531.433594,1533.117554,1513.701660,1529.699951,1509.199951,7902607.0

In [9]:
# df = pd.DataFrame(df, columns=['Date', 'Open', 'High','Low', 'Close', 'Adjusted Close', 'Volume'])

In [10]:
# delimiter = ','

In [11]:
# df = pd.read_csv("D:\\MajorProject\\Datasets_1\\Reliance Industries Ltd.csv", sep=delimiter)

In [12]:
# df

In [13]:
df['Company']= 'Reliance Industries Ltd'

In [14]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Company
0,2008-01-01,715.715759,717.944580,702.119629,705.376221,630.190979,4864461.0,Reliance Industries Ltd
1,2008-01-02,707.047913,714.229797,696.225464,708.719543,633.178162,12588005.0,Reliance Industries Ltd
2,2008-01-03,706.304932,725.621826,700.918518,719.108582,642.459778,13939233.0,Reliance Industries Ltd
3,2008-01-04,719.182861,747.861023,719.182861,741.223938,662.217773,16366255.0,Reliance Industries Ltd
4,2008-01-07,736.716675,750.387085,733.051392,747.972473,668.247131,12650730.0,Reliance Industries Ltd
...,...,...,...,...,...,...,...,...
2952,2019-12-23,1545.450684,1562.736816,1543.172241,1556.644531,1535.783325,11587233.0,Reliance Industries Ltd
2953,2019-12-24,1554.168091,1557.288452,1528.015991,1531.928833,1511.398804,8329356.0,Reliance Industries Ltd
2954,2019-12-26,1527.173950,1538.367798,1495.969727,1501.170410,1481.052612,13734705.0,Reliance Industries Ltd
2955,2019-12-27,1512.661499,1531.681152,1507.015015,1527.867310,1507.391724,8158196.0,Reliance Industries Ltd
2956,2019-12-30,1531.433594,1533.117554,1513.701660,1529.699951,1509.199951,7902607.0,Reliance Industries Ltd

In [15]:
# os.chdir('D:\MajorProject\Datasets_1')

In [16]:
# os.getcwd()

In [17]:
df.to_csv('New_Reliance Industries Ltd.csv', index=False)

In [18]:
l=["HDFC Bank Ltd", "Infosys Ltd", "Maruti Suzuki India Ltd", "Tata Consultancy Services", "Tata Steel Ltd", "Bajaj Finserv Ltd", "Cipla Ltd", "Hero Motocorp Ltd", "Kotak Mahindra Bank Ltd", "Nestle India Ltd", "Wipro Ltd","Britannia Industries Ltd","HCL Technologies Ltd", "JSW Steel Ltd","State Bank of India","Eicher Motors Ltd","Hindalco Industries Ltd", "Asian Paints Ltd","Hindustan Unilever Ltd","ITC Ltd","Mahindra&Mahindra"]

In [19]:
len(l)

21

In [20]:
j=0
combined_df = df
for i in l:
    s = l[j]
    df = pd.read_csv("D:\\MajorProject\\Datasets_1\\"+s+".csv", sep = ",", low_memory = False)
    df['Company']= s
    df.to_csv('New_'+s+'.csv', index=False)
    combined_df = pd.concat([combined_df, df], ignore_index=True)
    j=j+1

In [21]:
# d1=pd.read_csv("Datasets_1\\New_Bajaj Finserv Ltd.csv")
# d2=pd.read_csv("Datasets_1\\New_HDFC Bank Ltd.csv")

In [22]:
combined_df

,Date,Open,High,Low,Close,Adj Close,Volume,Company
0,2008-01-01,715.715759,717.944580,702.119629,705.376221,630.190979,4864461.0,Reliance Industries Ltd
1,2008-01-02,707.047913,714.229797,696.225464,708.719543,633.178162,12588005.0,Reliance Industries Ltd
2,2008-01-03,706.304932,725.621826,700.918518,719.108582,642.459778,13939233.0,Reliance Industries Ltd
3,2008-01-04,719.182861,747.861023,719.182861,741.223938,662.217773,16366255.0,Reliance Industries Ltd
4,2008-01-07,736.716675,750.387085,733.051392,747.972473,668.247131,12650730.0,Reliance Industries Ltd
...,...,...,...,...,...,...,...,...
65049,2019-12-23,529.950012,535.900024,524.700012,525.900024,502.017120,2963573.0,Mahindra&Mahindra
65050,2019-12-24,529.000000,532.650024,526.200012,527.500000,503.544373,2372038.0,Mahindra&Mahindra
65051,2019-12-26,530.000000,536.200012,527.049988,528.349976,504.355682,4623580.0,Mahindra&Mahindra
65052,2019-12-27,529.900024,532.750000,525.049988,530.150024,506.074066,3017840.0,Mahindra&Mahindra
65053,2019-12-30,531.349976,539.849976,531.349976,536.900024,512.517456,4697710.0,Mahindra&Mahindra

In [23]:
combined_df.to_csv('ZFinal_dataset.csv', index=False)

In [24]:
combined_df["Company"].nunique()

22